html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  /* justify-content: space-between; */
}

.logo {
  background-color: pink;
}

.menu {
  flex-grow: 1;
  background-color: tomato;
  text-align: end;
}

.menu ol {
  padding: 0;
  margin: 0;
}

.menu ol li {
  display: inline;
  padding: 0;
  margin: 0;
}

.align-self-center {
  align-self: center;
}

.image {
  width: 100%;
}

.circle {
  border-radius: 50%;
}
