:root {
  --dark-text-color: #5b5b5b;
  --light-text-color: white;
  --primary-color: #6dde5f;
  --secondary-color: #f8f8f8;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: "montserrat", sans-serif;
}

text-center {
  text-align: center;
}

text-white {
  color: var(--light-text-color);
}

#menu-logo {
  position: relative;
  width: 120px;
  height: auto;
  background: url(../images/sakay-logo.svg) no-repeat;
  background-size: contain;
  color: transparent;
}

body {
  font-family: proxima nova, proxima-nova, -apple-system, BlinkMacSystemFont,
    segoe ui, Roboto, helvetica neue, Arial, sans-serif;
  color: var(--dark-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
